@import "variables";

@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url("./fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

.body-container {
  margin-top: 10vh;
}
body {
  background-color: $base-color;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0;
}

.header-title {
  background-color: black;
  height: 10vh;
  color: white;
  padding: 1.5rem 0rem 1.5rem 5rem;
  margin-bottom: 5rem;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}
$grid-columns: 12;

@for $i from 1 through $grid-columns {
  $width: percentage(calc($i/ $grid-columns));
  .col-md-#{$i} {
    flex-basis: $width;
    max-width: $width;
  }
}

@media (max-width: 768px) {
  @for $i from 1 through $grid-columns {
    .col-md-#{$i} {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}
