@import "_variables";

/* global */

.item-name {
  color: #070707;
  font-weight: 300;
  font-size: medium;
}
.product-image {
  text-decoration: none;
}
.item-price {
  color: $secondary_color;
  font-size: medium;
}
.item-header {
  padding: 1rem;
  position: relative;
}
.rotate-icon {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 0.5rem;
  right: 0.2rem;
  cursor: pointer;
  background: #f5f5f5;
  border-radius: 50%;
  :hover {
    border: #373737 solid 5px;
  }
}
.row-item {
  width: 25%;
  padding: 1rem;

  outline: 2px solid #d9d9d9;
  border-radius: 1rem;
  font-size: small;
  transition: all 0.15s ease-in;
}
.item-description {
  padding-top: 1rem;
  text-wrap: wrap;
  font-size: xx-small;
  word-break: break-all;
  white-space: normal;
  font-weight: lighter;
  color: #787878;
}
.row-item:hover {
  outline: 2px solid rgba(0, 0, 0, 0.6);
}
.actions {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  gap: 0.7rem;
  button {
    cursor: pointer;
  }
}
.add-to-cart {
  background-color: black;
  width: 75%;
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.7rem;
}
.favorite-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  width: 25%;
  color: white;
  border: none;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.7rem;
}

.trending {
  height: 100vh;
}

.row-container {
  display: flex;
  gap: 2.2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  position: relative;
  padding: 1rem 0.6rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.row-container::-webkit-scrollbar {
  display: none;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.title-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btns button {
  color: white;
  background-color: #373737;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.btns {
  display: flex;
  gap: 0.4rem;
}

.btns button:hover {
  background-color: black;
}
